<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kjs.mapper.GradeMapper">
	<sql id="criteria">
		<trim prefix="(" suffix=") and " prefixOverrides="and">
			<foreach item='type' collection="typeArr">
				<trim prefix="and">
					<choose>
						<!-- 타입조건이 해당 되면 sql문 추가 -->
						<!-- Tobacco = T -->
						<when test="type == 'T'.toString() and tId!=null and tId > 0">
							g.tobacco_id = #{tId}
						</when>
						<!-- Member = M -->
						<when test="type == 'M'.toString() and mId!=null and mId > 0">
							g.member_id = #{mId}
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	<resultMap id="grade" type="org.kjs.domain.GradeVO">
	 	<result property='score' column='score'/>
	   	<association property="tobacco"  javaType="org.kjs.domain.TobaccoVO" >
	    	<result property="tobaccoId"  column="tobacco_id" />
			<result property="tobaccoName"  column="tobacco_name" />
		</association>
		<association property="member"  javaType="org.kjs.domain.MemberVO" >
	    	<result property="memberId"  column="member_id" />
			<result property="email"  column="email" />
		</association>
	</resultMap>
	<insert id="insert">
		insert into
		tbl_grade(tobacco_id,member_id,score)
		values(#{tobacco.tobaccoId},#{member.memberId},#{score})
	</insert>
	
	<update id="update">
		update tbl_grade set score = #{score}
		where (tobacco_id,member_id) = (#{tobacco.tobaccoId},#{member.memberId})
	</update>
	<update id="updateGradeTobacco">
		update tbl_tobacco set grade_sum = #{vo.score}+grade_sum, grade_num = grade_num + #{insert}
		where tobacco_id = #{vo.tobacco.tobaccoId}
	</update>
	<select id="get" resultMap="grade">
		select 
		g.member_id,
		g.tobacco_id,
		t.tobacco_name,
		m.email,
		g.score
		from tbl_grade as g
		left join tbl_tobacco as t on (g.tobacco_id = t.tobacco_id)
		left join tbl_member as m on (g.member_id = m.member_id)
		where (g.tobacco_id,g.member_id) = (#{tobacco.tobaccoId},#{member.memberId})
	</select>
	
	
	<select id="getListWithPage" resultType="org.kjs.domain.GradeVO">
		select
		g.member_id 'member.memberId',
		g.tobacco_id 'tobacco.tobaccoId',
		t.tobacco_name 'tobacco.tobaccoName',
		m.email 'member.email',
		g.score score
		from tbl_grade as g
		left join tbl_tobacco as t on (g.tobacco_id = t.tobacco_id)
		left join tbl_member as m on (g.member_id = m.member_id)
		where <include refid="criteria"></include> 
		g.score > -1
		order by g.tobacco_id desc
		limit #{startIndex},#{amount}
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_grade as g where 
		 <include refid="criteria"></include> 
		g.score > -1
	</select>
</mapper>