<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kjs.mapper.MobileMapper">
	<sql id="criteriaComment">
		<trim prefix="(" suffix=") and " prefixOverrides="and">
			<foreach item='type' collection="typeArr">
				<trim prefix="and">
					<choose>
						<!-- 타입조건이 해당 되면 sql문 추가 -->
						<!-- Tobacco = T -->
						<when test="type == 'T'.toString() and tId!=null and tId > 0">
							c.tobacco_id = #{tId}
						</when>
						<!-- Member = M -->
						<when test="type == 'M'.toString() and mId!=null and mId > 0">
							c.member_id = #{mId}
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<resultMap type="org.kjs.domain.MemberVO" id="memberMap">
		<id property="memberId" column="member_id" />
		<result property="memberId" column="member_id" />
		<result property="memberName" column="member_name" />
		<result property="email" column="email" />
		<result property="password" column="password" />
		<result property="telephone" column="telephone" />
		<result property="address" column="address" />
		<result property="joindate" column="joindate" />
		<result property="updatedate" column="updatedate" />
		<collection property="authList" resultMap="authMap" />
	</resultMap>
	<resultMap type="org.kjs.domain.AuthVO" id="authMap">
		<result property="memberId" column="member_id" />
		<result property="auth" column="auth" />
	</resultMap>

	<resultMap id="Tobacco" type="org.kjs.domain.TobaccoVO">
		<id property="tobaccoId" column="tobacco_id" />
		<id property="tobaccoName" column="tobacco_name" />
		<id property="deleteFlag" column="delete_flag" />
		<id property="tar" column="tar" />
		<id property="nicotine" column="nicotine" />
		<id property="quantity" column="amount" />
		<id property="price" column="price" />
		<id property="commentCnt" column="comment_cnt" />
	   	<id property="gradeSum" column="grade_sum" />
	   	<id property="gradeNum" column="grade_num" />
		<association property="country"
			javaType="org.kjs.domain.ComponentVO">
			<result property="id" column="country_id" />
			<result property="name" column="country_name" />
		</association>
		<association property="company"
			javaType="org.kjs.domain.ComponentVO">
			<result property="id" column="company_id" />
			<result property="name" column="company_name" />
		</association>
		<association property="type"
			javaType="org.kjs.domain.ComponentVO">
			<result property="id" column="type_id" />
			<result property="name" column="type_name" />
		</association>
		<association property="brand"
			javaType="org.kjs.domain.ComponentVO">
			<result property="id" column="brand_id" />
			<result property="name" column="brand_name" />
		</association>
		<association property="attach"
			javaType="org.kjs.domain.AttachVO">
			<result property="uuid" column="uuid" />
			<result property="uploadPath" column="upload_path" />
			<result property="fileName" column="file_name" />
			<result property="tobaccoId" column="tobacco_id" />
		</association>
	</resultMap>


	<resultMap id="Comment" type="org.kjs.domain.CommentVO">
		<id property="commentId" column="comment_id" />
		<id property="content" column="content" />
		<id property="cdate" column="cdate" />
		<association property="tobacco"
			javaType="org.kjs.domain.TobaccoVO">
			<result property="tobaccoId" column="tobacco_id" />
			<result property="tobaccoName" column="tobacco_name" />
		</association>
		<association property="member"
			javaType="org.kjs.domain.MemberVO">
			<result property="memberId" column="member_id" />
			<result property="email" column="email" />
		</association>
	</resultMap>


	<select id="getListTobacco" resultMap="Tobacco">
		select t.tobacco_id, t.tobacco_name,
		t.delete_flag, t.tar, t.nicotine,
		t.amount, t.price,
		t.country_id as country_id,
		ct.country_name as
		country_name,
		t.company_id as company_id,
		cm.company_name as
		company_name,
		t.type_id as type_id,
		tp.type_name as type_name,
		t.brand_id as brand_id,
		b.brand_name as brand_name,
		t.comment_cnt,
		a.uuid as uuid,
		a.upload_path as upload_path,
		a.file_name as file_name,
		t.grade_num,
		t.grade_sum		

		from tbl_tobacco as t
		left join tbl_country as ct on (t.country_id =
		ct.country_id)
		left join tbl_company as cm on (t.company_id =
		cm.company_id)
		left join tbl_brand as b on (t.brand_id = b.brand_id)
		left join tbl_type as tp on (t.type_id = tp.type_id)
		left join
		tbl_attach as a on (t.profile_img = a.uuid)
		where
		t.tobacco_id>0 order by t.tobacco_id desc
	</select>



	<select id="getListComponent"
		resultType="org.kjs.domain.ComponentVO">
		select ${vo.type}_id as id, ${vo.type}_name as name from
		tbl_${vo.type} where ${vo.type}_id<![CDATA[ > 0]]>
	</select>

	<select id="getListSmokeArea"
		resultType="org.kjs.domain.SmokeAreaVO">
		select * from tbl_area
	</select>

	<select id="getListCommnetByTobaccoIdWithPage"
		resultMap="Comment">
		select
		c.comment_id,
		c.tobacco_id,
		t.tobacco_name,
		c.member_id,
		m.email,
		c.content,
		c.cdate
		from
		tbl_comment as c
		left join tbl_tobacco as t on (c.tobacco_id =
		t.tobacco_id)
		left join tbl_member as m on (c.member_id = m.member_id)
		where
		<include refid="criteriaComment"></include>
		c.comment_id>0
		order by c.comment_id desc limit #{startIndex},#{amount}
	</select>

	<select id="getCommentTotalCount" resultType="int">
		select count(*) from tbl_comment as c where
		<include refid="criteriaComment"></include>
		c.comment_id > 0
	</select>


	<select id="getMemberByToken" resultType="org.kjs.domain.MemberVO">
		select member_id, member_name,
		email, telephone, address
		from
		tbl_member
		where
		token=#{token}
	</select>
	
	<select id="getToken" resultType="String">
		select token
		from
		tbl_member
		where
		(email,password)=(#{email},#{password})
	</select>

</mapper>